@charset "utf-8";
@import url(../tailwind/theme.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&display=swap');

html{
    overflow-x: hidden;
}
/* notice section */
.notice {
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(136deg, #FF5A00 0%, #DDB00F 100%);
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.notice h5 {
    color: #FFF;
    font-weight: 500;
}


/* heder section*/

header {
    padding-left: 5rem;
    padding-right: 5rem;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
}

body.home header {
    position: fixed;
}

body.home header:not(.darkHeader) {

    background-color: transparent;
}

header .menu_toggle {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;

}

header .menu_toggle svg {
    width: 3rem;

}

header .header_logo img {
    width: 20rem;
}

header #nav_toggle {
    width: 300px;
    max-width: 90%;
    padding-top: 70px;
    transition-duration: 0.8s !important;
}

header #nav_toggle .close_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--primary);
    border: 2px solid var(--secondary);
    background-color: #fff;
    line-height: 1;
    transition: all 0.2s;

}

header #nav_toggle .close_nav:hover {
    background-color: var(--secondaryHover);
    color: #fff;
}

#nav_toggle ul.navbar {
    display: block;
    list-style: none;
}

#nav_toggle ul.navbar li {
    display: block;
}

#nav_toggle ul.navbar li:not(:last-child) {
    margin-bottom: 15px;
}

#nav_toggle ul.navbar li .nav_link {
    display: block;
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    font-family: var(--lato);
    font-size: 20px;
    color: var(--primary);
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s;
    transition-delay: 0.3s;
}


#nav_toggle ul.navbar li .nav_link:active,
#nav_toggle ul.navbar li .nav_link.active {
    color: #fff;
    background-color: var(--primary);
}

#nav_toggle ul.navbar li .nav_link:hover {
    color: #fff;
}

#nav_toggle ul.navbar li .nav_link:before,
#nav_toggle ul.navbar li .nav_link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
}

#nav_toggle ul.navbar li .nav_link:before {
    left: 0;
    background-color: var(--tertiary);
    transition: all 0.3s;
    transition-delay: 0.1s;
}

#nav_toggle ul.navbar li .nav_link:after {
    right: 0;
    background-color: var(--primary);
    transition: all 0.3s;
    transition-delay: 0.3s;
}

#nav_toggle ul.navbar li .nav_link:hover:after,
#nav_toggle ul.navbar li .nav_link:hover:before {
    width: 100%;
}

@media(min-width:400px) {
    header .header_logo img {
        max-width: 100%;
        width: 15rem;
    }
}

@media(max-width:420px) {
    header .header_logo img {
        max-width: none;
        width: 12rem;
    }

}

@media(max-width:500px) {

    header .header_actions a {
        font-size: 1rem;

    }

    header .menu_toggle span {
        display: none;
    }
}

main {
    overflow: hidden;
}

#hero_section {
    padding-top: 24.3rem;
    padding-bottom: 10.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}

#hero_section .hero-prop1 {
    position: absolute;
    top: -0%;
    left: -0%;
    display: block;
    width: 33.5rem;
    height: auto;
}

#hero_section .hero-prop2 {
    position: absolute;
    bottom: -9rem;
    right: -6rem;
    width: 23.0rem;
}

#hero_section .hero-prop2 svg,
#hero_section .hero-prop1 svg {
    width: 100%;
    height: auto;
}

#hero_section .left-col h1 {
    color: #ffffff;
}

#hero_section .right-col {
    margin-right: -5rem;
    position: relative;
}

#hero_section .right-col .stemp {
    position: absolute;
    bottom: 0;
    left: 0;
}

#hero_section .right-col .stemp .cr-1 {
    animation: spin 20s linear infinite;
}

#hero_section .right-col .stemp .cr-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#hero_section .right-col .image_col {
    display: inline-block;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    overflow: hidden;
    position: relative;
}

#hero_section .right-col .image_col:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    mix-blend-mode: soft-light;
}

.button_link {
    color: #FFF;
    font-family: var(lato);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.button_link i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--secondary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#features {
    margin-top: 8rem;
}


#features .feature_item {
    border-radius: 400px;
    padding: 5rem 3rem 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.3s;

    margin-left: auto;
    margin-right: auto;

}

#features .feature_item:hover {
    background-color: var(--primary);
}

.feature_item .fea_icon {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.feature_item .fea_icon img {
    transition: all 0.3s;
    width: 60%;
    height: auto;
}

.feature_item:hover .fea_icon .defult_icon {
    opacity: 0;
}

.feature_item:hover .fea_icon .defult_icon,
.feature_item:not(:hover) .fea_icon .hover_icon {
    opacity: 0;
    position: absolute;
}

.feature_item h4 {
    margin-bottom: 0;
}

.heading {
    margin-bottom: 8rem;
    display: block;
}

.heading h5 {
    font-size: 2rem;
    color: var(--primaryTitle);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}

.heading h2 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.section-dark .heading h5,
.section-dark .heading h2,
.section-dark .heading p {
    color: #fff;
}

#about {
    position: relative;
}

#about .about_prop_1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
}

.about_inner .image_col {
    position: relative;
}

.about_inner .image_col .image_1 {
    border-radius: 20px;
    overflow: hidden;
    width: auto;
    display: inline-block;
    margin-bottom: 10%;
}

.about_inner .image_col .image_2 {
    border-radius: 200px;
    overflow: hidden;
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 15%;
    bottom: 0%;
}

.about_inner .about_list {
    margin-left: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 80%;
}

.about_inner .about_list li {
    position: relative;
    color: var(--primary);
    font-family: var(--lato);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}

.about_inner .about_list li:before {
    content: '';
    width: .5rem;
    height: 3rem;
    background-color: var(--secondary);
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 10px;
}

#service {
    position: relative;
}

.slider_wrapper {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    position: relative;
}

.slider_wrapper .slider_inner {
    position: unset;
    width: 100vw;
    margin-left: -1.5rem;
}

#blogs .slider_wrapper .slider_inner {
    margin-right: -1.5rem;
}

#blogs .slider_wrapper {
    display: flex;
    justify-content: end;

}

#service .slider_wrapper:before {
    content: '';
    height: 100%;
    width: 100vw;
    border-radius: 300px 0 0 300px;
    background-color: var(--secondary);
    position: absolute;
    right: -50vw;
    top: 0;
}

#blogs .slider_wrapper:before {
    content: '';
    height: 100%;
    width: 100vw;
    border-radius: 0 300px 300px 0;
    background-color: var(--secondary);
    position: absolute;
    left: -50vw;
    top: 0;
}

.slick-prev,
.slick-next {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--secondary);
    top: -10rem;
    color: #000;
}


.slick-prev:before,
.slick-next:before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #000;
}

.slick-prev:before {
    content: '\f104';
}

.slick-next:before {
    content: '\f105';
}

.slick-next {
    right: 0;
    top: -10rem;
}

.slick-prev {
    left: auto;
    right: 7rem;
}

#blogs .slick-prev {
    right: auto;
    left: 0;
}

#blogs .slick-next {
    right: auto;
    left: 7rem;
}

.slick_slider {
    position: unset;
}

.slick_slider .slider_item,
#Comprehensive .variation_insurance .var_insurance_item_box {
    padding: 1.5rem;
}

.slick_slider .slider_item .card_slide,
.var_insurance_item {
    height: 33rem;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);


}

.slick_slider .slider_item .card_slide img,
#Comprehensive .var_insurance_item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slick_slider .slider_item .card_slide .card_caption,
#Comprehensive .var_insurance_item .var-insurance_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    background-color: var(--primary);
    color: #ffffff;
    padding: 2rem;
    transition: all 0.3s;
}

.slick_slider .slider_item .card_slide .card_caption h4,
#Comprehensive .var_insurance_item .var-insurance_caption h4 {
    margin-bottom: 0.8rem;
}

.slick_slider .slider_item .card_slide:hover .card_caption,
#Comprehensive .var_insurance_item:hover .var-insurance_caption {
    background-color: var(--primaryHover);
}

.slick_slider .slider_item .card_slide .card_caption h4 {
    color: #ffffff;
}

#blogs .slick_slider .slider_item .card_slide .card_caption h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

.slick_slider .slider_item .card_slide .card_caption p,
#Comprehensive .var-insurance_caption p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

#testimonial {
    position: relative;
    background-image: url(../img/testimonial_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 1;
    border-top-left-radius: 30rem;
    overflow: hidden;
}

#testimonial:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryHover);
    z-index: -1;

}

#testimonial .testimonial_slider .slick-track {
    display: flex;
    gap: 3rem;
}

#testimonial .testimonial_slider .single {
    background-color: var(--secondary);
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 7rem;
    padding-right: 6rem;
    position: relative;
    border-radius: 300px;
    margin-top: 6rem;
}

#testimonial .testimonial_slider .single .auth_img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 4px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 800;
    background-color: var(--tertiary);
    color: var(--secondary);
    overflow: hidden;
    position: absolute;
    top: -6rem;
    left: 0;
}

#testimonial .testimonial_slider .single .auth_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial_slider .single .testimonial_content .auth_name {
    color: #fff;
    margin-bottom: 3rem;
    padding-left: 8rem;
}

.testimonial_slider .single .testimonial_content p {
    color: #fff;
    font-style: italic;
    text-align: justify;
}

#quote {}

.client_slider .slick-slide {
    text-align: center;
}

.client_slider .slick-slide img {
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    max-width: 90%;
}

.client_slider .slick-slide:not(:hover) img {
    filter: grayscale(1) contrast(0.5);
}

.contact_section {
    background-image: linear-gradient(180deg, #fff 50%, var(--primary) 50%);
}

.contact_info {
    background-color: var(--secondary);
    padding: 3rem 3.5rem;
    border-radius: 20rem;
    color: #fff;
}

.contact_info .c_col .c_icon {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact_info .c_col .c_icon img {
    width: 60%;
    height: auto;
}

.contact_info .c_col .c_text h4 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@media(max-width:985px) {
    .contact_section .contact_info {
        border-radius: 3rem;
    }

    .contact_section .contact_info .contact_info_con {
        flex-wrap: wrap;

    }

    .contact_section .contact_info .contact_info_con div {
        flex-basis: auto;
    }
}






.footer_section {
    padding-top: 7rem;
    padding-bottom: 6rem;
}

.footer_section .estimate {
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(136deg, #FF5A00 0%, #DDB00F 100%);
    z-index: 1;
    height: 100%;
}

.footer_section .estimate::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../img/customer-service.png);
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: right 15px bottom 10px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;

}

.footer_section ul {
    padding-left: 20px;
}

.footer_section .estimate h2 {
    font-size: 3.6rem;

}

.footer_section .estimate .go-to-contact {
    margin-top: auto;
}

.sub_footer {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sub_footer .social_media {
    color: #fff;
}

.sub_footer .social_media a {
    color: var(--secondary);
    font-size: 2.4rem;
}

.sub_footer .social_media a:hover {
    color: #fff;
}

/* Responsive css */

@media (min-width:768px) and (max-width:991px) {
    #hero_section .hero-prop1 {
        width: 25rem;
    }
}

@media (max-width:767px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero_section {
        padding-left: 0px;
        padding-right: 0px;
    }

    #hero_section .right-col {
        margin-right: -2rem;
    }

    #features .feature_item {
        width: 250px;
        max-width: 100%;
        margin-inline: auto;
        padding: 40px 20px 50px;
    }

    #features {
        font-size: 45%;
    }

    #testimonial {
        border-radius: 0;
    }

    #testimonial .testimonial_slider .single {
        border-radius: 20px;
    }

    #testimonial .testimonial_slider .single .auth_img {
        right: 0;
        margin: 0 auto;
    }

    .testimonial_slider .single .testimonial_content .auth_name {
        padding-left: 0rem;
        text-align: center;
    }

    #testimonial .testimonial_slider .single {
        padding-top: 10rem;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .testimonial_slider .single .testimonial_content p {
        text-align: center;
    }

    .contact_info {
        border-radius: 20px;
    }

}

@media (max-width:639px) {

    .slick-prev {
        top: 0;
        left: 0;
        right: auto;
    }

    .slick-next {
        top: 0;
        left: 6rem;
        right: auto;
    }

    #blogs .slick-prev {
        top: 0;
        left: auto;
        right: 6rem;

    }

    #blogs .slick-next {
        top: 0;
        left: auto;
        right: 0;
    }

    .slick_slider .slider_item .card_slide .card_caption p {
        font-size: 12px;
    }

    #service .slider_wrapper:before {
        right: -30vw;
    }

    #blogs .slider_wrapper:before {
        left: -30vw;
    }

    .client_slider {
        padding-top: 50px;
    }
}

@media (min-width:577px) and (max-width:767px) {
    #hero_section .hero-prop1 {
        width: 20rem;
    }
}

@media (max-width:576px) {
    #hero_section .hero-prop1 {
        width: 18rem;
        display: none;
        padding-top: 10rem;
    }

    #hero_section {
        padding-top: 14rem;
    }


}

/* insurance sline */
#insurance #features .slick-track {
    display: flex;
}

#insurance .slick-slide {
    height: inherit;
    min-height: unset;
    padding: 15px;
}

@media(400px) {
    #insurance .slick-slide {

        padding: 12px;
    }
}

#insurance #features .feature_item {
    height: 100%
}

/* mobile media query */


@media(max-width:992px) {
    #hero_section .right-col .stemp .cr-1 {
        width: 10rem !important;
        height: 10rem !important;
    }

    #hero_section .right-col .stemp .cr-2 {
        width: 7.3rem !important;
        height: 7.3rem !important;
    }

    .feature_item .fea_icon {
        width: 11rem;
        height: 11rem;
    }

    #testimonial .testimonial_slider .single .auth_img {
        width: 11rem;
        height: 11rem;
        top: -5rem;
    }

    #testimonial .testimonial_slider .single {
        padding-top: 6rem;
    }

    .contact_info .c_col .c_icon {
        width: 11rem;
        height: 11rem;
    }

    .about_inner .about_list li {
        font-size: 1.6rem;
    }
}

@media(max-width:576px) {
    #hero_section .right-col .stemp .cr-1 {
        width: 8rem !important;
        height: 8rem !important;
    }

    #hero_section .right-col .stemp .cr-2 {
        width: 5rem !important;
        height: 5rem !important;
    }

    .feature_item .fea_icon {
        width: 10rem;
        height: 10rem;
    }

    #testimonial .testimonial_slider .single .auth_img {
        width: 10rem;
        height: 10rem;
        top: -5rem;
    }

    #testimonial .testimonial_slider .single {
        padding-top: 6rem;
    }

    .contact_info .c_col .c_icon {
        width: 8rem;
        height: 8rem;
    }

    .about_inner .about_list li {
        font-size: 1.6rem;
    }
}

/* Tablet media query */
@media(max-width:1240px) {
    #about .container {
        max-width: 100%;
    }

    .about_inner .about_list {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media(max-width:992px) {
    /* #features .feature_item {
        width: 250px !important;

    } */
}

@media(max-width:800px) {
    /* #features .feature_item {
        width: auto !important;

    } */
}



@media(max-width:768px) {
    #testimonial {
        border-top-left-radius: 10rem;
    }

    .heading {
        margin-bottom: 5rem;
    }

    #testimonial .heading p {
        width: 400px;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media(min-width:600px) and (max-width:992px) {
    #insurance .container {
        max-width: 100% !important;
    }
}